.pipe-list {
  list-style: none;
  text-align: center;
  padding: 0 2em;
}

.pipe-list li {
  display: inline-block;
  border-left: 1px solid #eee;
  line-height: 0.75em;
  font-size: 0.75em;
  padding: 0 0.5em;
}

.pipe-list li:first-child {
  border-left: 0;
}
